.thumb{
	margin: 10px 5px 0 0;
	width: 100px;
}

.sidebar {
    background-color: rgb(76, 77, 65);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 5px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}